/node_modules/
/.next/
/out/
/.deployment/
/.deployment.next/
/.deployment.previous/
/public/_search/
/build/
/coverage/
next-env.d.ts
*.tsbuildinfo

.env
.env.*
!.env.example

npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

/migration-output/

.DS_Store
/drive-download-*/
